{% extends "layouts/base.html" %}
{% block title %}
  <title>Django crud auth</title>
{% endblock title %}
{% block content %}
  <h1>Home</h1>
  <section class="container">
    <p>This is a simple app for tasks</p>
    {% if not user.is_authenticated %}
      <p>
        Please <a href={% url 'signin' %}>login</a> or <a href={% url 'signup' %}>register</a> to see the tasks page
      </p>
    {% else %}
      <p>
        To see the tasks page go to <a href={% url 'tasks' %}>Tasks</a>
      </p>
    {% endif %}
  </section>
{% endblock content %}
