{% extends "layouts/base.html" %}
{% block title %}
  <title>Sign up</title>
{% endblock title %}
{{ error }}
{% block content %}
  <section class="d-flex flex-column align-items-center gap-4">
    <h1>Sign up</h1>
    <div class="col-12 col-sm-10 col-lg-5">
      {% if error %}
        <div class="alert alert-danger d-flex align-items-center gap-2"
             role="alert">
          <i class="bi bi-exclamation-triangle-fill"></i>
          <div>{{ error }}</div>
        </div>
      {% endif %}
      <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password1" name="password1">
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Confirm your password</label>
          <input type="password" class="form-control" id="password2" name="password2">
        </div>
        <div class="d-grid mt-4">
          <button class="btn btn-primary">Signup</button>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
